\newcommand{\newCommandDiscipline}{Fach}
\newcommand{\newCommandTerm}{Semeser}
\newcommand{\newCommandName}{Vorname Nachname}
\newcommand{\newCommandMatriculationNumber}{Matrikel-Nr: 123456}
\newcommand{\newCommandUniversity}{Name der Universitaet}
\newcommand{\newCommandFaculty}{Fachbereich}
